<div class="mar">

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>OCC</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{empName}}</td>
        <td>{{empType}}</td>
        <td>{{empOcc}}</td>
        <td><button type="button" class="btn btn-info" (click)="editButtonClick()">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteButtonClick()">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

<div>
  <form *ngIf="showAddForm" #formData="ngForm" (ngSubmit)="addData(formData.value)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="type" class="form-control" id="type" [(ngModel)]="type" name="type">
    </div>
    <div class="form-group">
      <label for="occ">Occ:</label>
      <input type="occ" class="form-control" id="occ" [(ngModel)]="occ" name="occ">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div *ngIf="editForm">
  <form #herooneForm="ngForm" (ngSubmit)="editData(fetchData)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" [(ngModel)]="fetchData.name" name="fetchData.name">
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="type" class="form-control" id="type" [(ngModel)]="fetchData.type" name="fetchData.type">
    </div>
    <div class="form-group">
      <label for="occ">Occ:</label>
      <input type="occ" class="form-control" id="occ" [(ngModel)]="fetchData.occ" name="fetchData.occ">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

