<div class="wrapper">
  <div class="row">
    <div class="col-sm-6"><div class="container">
      <ul class="list-group">
        <li class="list-group-item" (click)="dataClick(data,i)"
        *ngFor="let data of list;let i = index">{{data.name}}</li>
        <button type="button" class="btn btn-primary" 
        (click)="addClick()">Add</button>
      </ul>
    </div>
  </div>
  
  
    <div class="col-sm-6">
      <!-- <app-create [addClicked]="addClickButton"></app-create> -->
      <app-create 
      *ngIf="addClickButton"
      [showAddForm]="showAddForm"
      [showData]="dataList"
      (editedData)="getEditData($event)"
      (addedData)="getAddedData($event)"
      [indexElement]="elementIndex"
      (deletedData) = "getDeletedId($event)"
      ></app-create>
    </div>
  </div>
</div>
